<h1>Post-It Notes</h1>
<!-- nav bar goes here s-->
<hr>

<h3><%= link_to 'New Post-It', new_note_path %></h3>

<% @notes.each do |note| %>
<h3><%= note.title %></h3>
<%= link_to 'View Post-It', note_path(note) %>
<%= link_to 'Edit Post-It', edit_note_path(note) %>
<%= link_to 'Delete', note, method: :delete %>
<% end %>
