<h1>New Post-It</h1>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>

<%= form_for @note do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>

  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to "Back", notes_path %>
